html {
    scroll-behavior: smooth;
}
body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    max-width: 60vw;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    background-color: #242424;
}
header, footer {
    padding: .5rem;
    /* background-color: #3060f4; */
    background: rgb(98,48,244);
    background: linear-gradient(135deg, rgba(98,48,244,1) 0%, rgba(48,96,244,1) 51%, rgba(48,194,244,1) 100%);

    color: white;
    font-size: medium;
}
header {
    display: flex;
}
.logo {
    display: flex;
}
.logo>a {
    text-decoration: none;
}
.logo>a h1 {
    color: #ffffff;
    -webkit-text-stroke: 1px white;
    font-style: italic;
    font-size: 2.5rem;
    margin-block-start: .5em;
    margin-block-end: .5em;
    text-shadow: .1em 0em black;
}
.nav {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-end;
}
.nav>a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    border-bottom: 2px solid #f4c430;
}
main {
    background: rgb(253,253,255);
    background: linear-gradient(135deg, rgba(253,253,255,1) 0%, rgba(234,239,254,1) 50%, rgba(216,225,253,1) 100%);
    height: 100%;
}
hr {
    border: 2px solid #6230f4;
    width: 95%;
}
.section {
    padding: 1.75rem;
}
/* .section:last-child {
    border-bottom: none;
} */
/* services */
.section#services-main {
    text-align: center;
    color: white;
    background: rgb(244,196,48);
    background: linear-gradient(315deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
}
.section#services-main h1 {
    padding-bottom: .75rem;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.services-grid>a {
    text-decoration: none;
    color: white;
    border-radius: 7%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: .25rem .25rem .5rem rgb(10, 10, 10);
}
/* .services-grid>a:nth-child(1) {
    background: rgb(244,196,48);
    background: linear-gradient(315deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
}
.services-grid>a:nth-child(2) {
    background: rgb(244,196,48);
    background: linear-gradient(360deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
}
.services-grid>a:nth-child(3) {
    background: rgb(244,196,48);
    background: linear-gradient(45deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
}
.services-grid>a:nth-child(4) {
    background: rgb(244,196,48);
    background: linear-gradient(90deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
}
.services-grid>a:nth-child(5) {
    background: rgb(244,196,48);
    background: linear-gradient(135deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
}
.services-grid>a:nth-child(6) {
    background: rgb(244,196,48);
    background: linear-gradient(180deg, rgba(244,196,48,1) 0%, rgba(244,48,96,1) 50%, rgba(98,48,244,1) 100%);
} */
.services-grid-item {
    text-align: center;
    padding: .5rem;
}
.services-grid-item>img {
    padding: 1rem;
    height: 5rem;
    width: auto;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(87deg) brightness(104%) contrast(101%);
}
.services-grid-item h4 {
    text-transform: uppercase;
    font-size: 1em;
}
/* business listing management */
.listing-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 50%;
    margin-inline-start: 25%;
}
img.listing-icon {
    width: 3em;
}
/* contact */
#contact-section1 {
    height: 100%;
}
/* google form */
.section#contact-form {
    padding: 0;
    height: 100vh;
}
iframe {
    width: 100%;
    height: 100%;
}
footer {
    font-size: small;
}
ul.footer-nav  {
    padding-inline-start: 0;
    margin: .25rem;
}
.footer-nav li {
    list-style-type: none;
    padding: .75rem 0rem .25rem 0rem;
}
.footer-nav a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #f4c430;
}
/* media queries */
@media (min-width:2560px) {
    body {
        max-width: 50vw;
        margin-inline-start: 25vw;
        margin-inline-end: 25vw;
    }
    header {
        padding: 0 5rem 0 5rem;
    }
    hr {
        width: 65%;
    }
    .section {
        padding: 1rem 20rem 1rem 20rem;
    }
    .services-grid {
        gap: 2rem;
    }
    footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media (min-width:1440px) {
    .services-grid {
        gap: 2rem;
    }
}
@media (max-width:768px) {
    body {
        min-width: 100vw;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    header {
        flex-direction: column;
    }
    .nav {
        justify-content: flex-start;
    }
    .listing-icons {
        width: 80%;
        margin-inline-start: 10%;
    }
}
@media (max-width:460px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .services-grid-item>img,h4 {
        margin: .25rem;
    }
}